* {
    font-family: 'Nunito', sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.text-hau {
    color: #710E1D;
}

.bg-hau {
    background-color: #710E1D;
}

.border-hau {
    border-color: #710E1D;
}

.caret-hau {
    caret-color: #710E1D;
}

.border-color-hau{
    border-color: #710E1D;
}

.outline-hau:focus {
    outline-color: #710E1D;
}

a:hover {
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px royalblue; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #710E1D; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #861226fd;
}